	<!DOCTYPE html>
	<html lang="ru" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<meta name="MobileOptimized" content="320"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TEST</title>
		<link rel="shortcut icon" href="favicon/favicon.ico">
		<link rel="stylesheet" href="css/style.bundle.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>

	<body>
		<div class="wrapper">
			<div class="wrapper__top"></div> <!--/wrapper__top-->
			TEST
			<div class="wrapper__bottom"></div> <!--/wrapper__bottom-->
		</div> <!--/wrapper-->
	</body>
	<script src="js/bundle.js"></script>
	</html>